<% include partials/_header %>
<div class="container-fluid">
        <div class="row">
                <!--FORM-->
                <div class="col-md-10 offset-md-1">
                          <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Genero</th>
                                    <th>Año</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i=0; i < consultaD.length; i++) { %>
                                    <tr>
                                        <td><%= i + 1%></td>
                                        <td><strong><%= consultaD[i].nombre %></strong></td>
                                        <td><%= consultaD[i].genero %></td>
                                        <td><%= consultaD[i].anio %></td>
                                    </tr>
                                <% } %>
                              </tbody>
                      </table>
                  </div>
              </div>
          </div>
        
</div>
<% include partials/_footer %>